.Button {
    background-color: aqua;
    border: 3px red;
}

html, body, #app, #app>div {
    height: 100%
  }


.CardComponent {
    text-align: left;
    flex-direction: column;
    justify-content: center;
    width: min-content;
    min-width: 400px;
    padding: 2%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5%;
    background-color: #f5f1e4;
    box-shadow: 4px 8px 10px 0 rgba(0,0,0,0.2);
}

.ModelComparasonContainer {
    margin: 10px;
    padding: 10px;
    /* background-color: aqua; */
    text-align: center;
    height: 100%;
}
.Landing {
    background-color: black;
}

.DashboardContainer {
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
}

.horizontalComparison{
    display: flex;
    flex-direction: row;
}

.ModelOverview{
    display: flex;
    flex: 1;
    margin: 10px;
}
.SegmentationViewer{
    display: flex;
    margin: 2%;
}

.GenericContainer {
    text-align: center;
    flex-direction: row;
    margin: 10px;
}