.Button {
    background-color: aqua;
    border: 3px red;
}

.CardComponent {
    text-align: left;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5%;
    background-color: #f5f1e4;
    box-shadow: 4px 8px 10px 0 rgba(0,0,0,0.2);
}
